LOOPS

In [1]:
#for loop

List or display the names of your friends one by one stored in the form of a list

In [2]:
names=['Rashmi','Ashika','Chandrika','Pavithra','Keerthi']
for name in names:
  print(name)

Rashmi
Ashika
Chandrika
Pavithra
Keerthi

In [3]:
names=['Rashmi','Ashika','Chandrika','Pavithra','Keerthi']
for name in names:
  print(name, end=' ')

Rashmi Ashika Chandrika Pavithra Keerthi

In [4]:
num=[1,2,3,4,5,]
for i in num:
  print(i)

1
2
3
4
5

In [5]:
fruits=['Grapes','Mango','Orange','Apple','Banana']
for i in fruits:
  print(i)

Grapes
Mango
Orange
Apple
Banana

Display the first 10 natural numbers

In [7]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [13]:
for i in range(0,10,3):
  print(i, end=' ')

0 3 6 9

Take a list of no's and display all the even no's from this list

In [14]:
my_list=[0,1,2,3,4,5,6,7,8,9,10]

for i in my_list:
  if i%2==0:
    print(i)

0
2
4
6
8
10

In [15]:
for i in my_list:
  if i%2==0:
    print(i, end=' ')

0 2 4 6 8 10

Take a list of no's and display all the odd no's from this list

In [16]:
my_list=[1,2,3,6,9,15,16,17,18,19]

for i in my_list:
  if i%2!=0:
    print(i, end= ' ')

1 3 9 15 17 19

In [17]:
# While loop

In [19]:
a=1
while a<=10:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10

Display all the number including 1 to 10

In [20]:
a=1
while a<=10:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10

Display all the even numbers including 0 to 20

In [21]:
a=0
while a<=20:
  print(a)
  a=a+2

0
2
4
6
8
10
12
14
16
18
20

In [23]:
# Break statements
fruits=['Mango','Grapes','Banana','Pineapple','Guava']
for i in fruits:
  if i=='Banana':
    break
  print(i)

Mango
Grapes

In [26]:
for i in fruits:   #blank
  if i=='Mango':
    break
  print(i)

In [31]:
name='Jayakumar'
for i in name:
  if i=='k':
    break
  print(i, end= '')

Jaya

In [35]:
# Continue statements
fruits=['Mango','Grapes','Banana','Pineapple','Guava']
for i in fruits:
  if i=='Banana':
    continue
  print(i,end='  ')

Mango  Grapes  Pineapple  Guava