Input function and typecasting

In [ ]:
name=input("Enter your name")

Enter your nameMeera

In [ ]:
print(name)

Meera

In [ ]:
type(name)  # by default data type will always string in nature in input function

str

In [ ]:
OTP=int(input("Enter your four digit otp"))

Enter your four digit otp4563

In [ ]:
print(OTP)

4563

In [ ]:
type(OTP)

int

In [ ]:
temp=int(input("Enter temp of your city"))

Enter temp of your city44

In [ ]:
print(temp)

44

In [ ]:
type(temp)

int

In [ ]:
temp=float(input("Enter temp of your city"))

Enter temp of your city44

In [ ]:
print(temp)

44.0

In [ ]:
type(temp)

float


**OPERATORS**
1.   ARITHMATIC OPERATORS
2.   COMPARISON OPERATORS
3.   LOGICAL OPERATORS
4.   ASSIGNMENT OPERATORS

In [ ]:
#Arithmatic operators

num_1=10
num_2=20

print(num_1+num_2)
print(num_2-num_1)
print(num_1*num_2)
print(num_1/num_2)
print(num_1//num_2)

30
10
200
0.5
0

In [ ]:
a=2 # raise the power of 2 by 5
print(a**5)

32

In [ ]:
b=7  #raise the power of 7 by 10
print(b**10)

282475249

In [ ]:
a=10
b=3
print(a%b)   #mModulo arithmatic operators

1

In [ ]:
a=10
b=5
print(a%b)

0

In [ ]:
a=17
b=3
print(a%b)

2

In [ ]:
#COmparison Operators

a=20
b=35

print(a>=b)
print(a<=b)
print(a<b)
print(a>b)
print(a==b)
print(a!=b)

False
True
True
False
False
True

In [ ]:
a=20
b=20

print(a>=b)
print(a<=b)
print(a<b)
print(a>b)
print(a==b)
print(a!=b)

True
True
False
False
True
False

In [1]:
#logical Operators AND,OR,NOT

print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
print(not False)

True

In [ ]:
print(not True)

False

In [ ]:
print(not 3<4)

False