# **USER DEFINED FUNCTIONS**

Take two no's and add them together

In [1]:
def add(a,b):    # defining the function
  sum=a+b
  print(sum)

In [2]:
add(10,20)      # calling the function

30

In [3]:
add(-2,-3)

-5

In [4]:
add(4,9)

13

Create a function which takes two no's and display addition, substraction,multiplication and division of these two numbers

In [5]:
def compute(a,b):
  s=a+b
  t=a-b
  u=a*b
  v=a/b
  print(s,t,u,v)

In [6]:
compute(7,9)

16 -2 63 0.7777777777777778

In [7]:
compute(4,2)

6 2 8 2.0

Create a function which display name,age ,city of a candidate

In [8]:
def info(name, age,city):
  print(name,age,city)

In [9]:
info('Rashmi',99,'Delhi')

Rashmi 99 Delhi

Types of Arguments

In [40]:
#Positional arguments

def name(firstname,lastname):
  print("Hi your name is",firstname)

In [41]:
  name("Jaya","Kumar")

Hi your name is Jaya

In [21]:
# Default arguments

def greet(name,message="Hi how are you?"):
  print(name,message)

In [22]:
greet('Aashutosh','Good evening')

Aashutosh Good evening

In [25]:
greet('Meera',)

Meera Hi how are you?

In [26]:
greet('Mukesh',)

Mukesh Hi how are you?

Create a function which takes name and salary as input and incase the salary is not provided , use default salary as 25000.Display the name and salary of the indiviual.

In [27]:
def data(name,salary=25000):
  print(name,salary)

In [28]:
data('Mukesh',40000)

Mukesh 40000

In [29]:
data('Mukesh', )

Mukesh 25000

In [30]:
#Keyword Argument

def greet(name,age,message):
  print(message,name,"your age is",age)

In [31]:
greet(name='Ravi',age=99,message="Good evening")

Good evening Ravi your age is 99

In [32]:
greet(age=99,message="Good evening",name='Aashutosh')

Good evening Aashutosh your age is 99

In [33]:
greet(message="How are you?",name='Meera',age=80)

How are you? Meera your age is 80

In [44]:
#arbitary arguments: *args

def add(*args):
  print(type(args))
  print(args)

  sum=0
  for num in args:
    sum=sum+num
  return sum

In [45]:
add(3,4)

<class 'tuple'>
(3, 4)

7

In [46]:
add(3,8,9,-3,-5,12)

<class 'tuple'>
(3, 8, 9, -3, -5, 12)

24

In [48]:
def function(a,b,*args):
  print(a)
  print(b)
  print(args)

In [49]:
function(5,7,568945)

5
7
(568945,)

In [50]:
function(5,7,5,6,8,9,4,5)

5
7
(5, 6, 8, 9, 4, 5)

In [54]:
#Arbitory Keyword arguments: **kwargs

def display(**kwargs):
  print(type(kwargs))
  print(kwargs)

  for key,value in kwargs.items():
    print(key,"--->",value)

In [55]:
display(name='Aashutosh',age=99,city='Mumbai')

<class 'dict'>
{'name': 'Aashutosh', 'age': 99, 'city': 'Mumbai'}
name ---> Aashutosh
age ---> 99
city ---> Mumbai